

<!-- <button class="btn btn-primary" (click)="onback()">Back</button> -->

<div class="container-fluid">
    <p>
        &nbsp;</p>
<div>
    <p>PWRTransport is amongst the most renowned and appreciated cargo service providers in the industry.
         We started our journey with the aim of delivering the logistics 
        and transportation excellence to our customers ensuring their comfort as well as success.</p>
    <br>
    <p>At PWRTransport, we render a broad spectrum of services incorporating Roadways Transportation Services, 
        Logistics Services, Supply Chain Consulting, Warehouse Management, Inventory Control, Bulk Parcel
         Delivery etc. We provide innovative and dynamic transport solution with the right people,
         modern techniques, and advanced technologies to drive unmatched value for your business.
        Today, our company has firmly established itself as the 'Market Leader' in the logistics
         and supply chain industry in India. Drawing inspiration from our work and the standard we set,
          we have been proving ourselves every day in best quality, cost effectiveness,
           client satisfaction and assurance to deadlines. </p>
    <br>
    <p>We are backed by a qualified, skilled, dedicated and professional workforce that offer
         end-to-end cargo handling solutions and cater to logistics needs of every consumer
          involved in the supply chain. All time-bound project cargo, urgent dispatches,
           fragile items, hazardous chemicals, vaccines, pharmaceutical products, electronic goods,
            automobile items, hardware, perishable shipments and many more are the part of
             our day-to-day routine and handled with enthusiasm and professionalism.</p>
    <br>
    <p>PWRTransport offers cutting-edge and state-of-the-art transport solutions to its customers,
         helping them to focus on their core competencies and business operations. 
         Our company adds value to businesses at every level, right from delivering
          first-rate warehousing assistance to ensuring time-bound deliveries of goods
           anywhere across the country.</p>
    <br>
    <p>To increase your business with a single click we have launched an advanced, 
        inventive and feature-rich mobile app. With this user-friendly interface, 
        PWRTransport is offering you ease, flexibility, and efficiency to book a truck
         which will also contribute to driving your business growth. We have hundreds 
         of wheels on the road. You can find one in just a click and can enjoy our quick 
         and safe transport services.</p>
    <br>
    <p>Our web portal &ldquo;<strong><a href="http://google.co.in">PWRTransport.co.in</a></strong>&rdquo; has entirely transformed the way you book or hire the truck.
         This portal has made it easy and simple to avail our transport services within a minute. 
         With this amazing online truck booking platform, we cover the whole process 
         from truck booking to payments and documentation.</p>
    <br>
    <p></p>
</div>
</div>
