

<div class="container-fluid mb-5" style="background-image: url('https://i.ytimg.com/vi/XzTCntGgNJU/maxresdefault.jpg');">
    
    

    
    <ul class="nav nav-tabs" >
        <li><a [routerLink]="['/home']" style="color: crimson;">Home</a></li>
        <li><a [routerLink]="['/About us']" style="color: crimson;">About us</a></li>
        <li><a [routerLink]="['/Login']" style="color: crimson;">Login</a></li>
        <li><a [routerLink]="['/Rgistration']" style="color: crimson;">Registration</a></li>
        <li><a [routerLink]="['/Service']" style="color: crimson;">Service</a></li>
    </ul>

</div>
<router-outlet></router-outlet>
<!-- <app-home></app-home> -->
