
<div >
  <div class="container">
    <p>&nbsp;</p>
    <!-- <h2>Carousel Example</h2>   -->
    
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
  
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="{{path4}}" alt="Los Angeles" style="height:500px;width:100%;">
        </div>
  
        <div class="item">
          <img src="{{path1}}" alt="Chicago" style="height:500px;width:100%;">
        </div>
      
        <div class="item">
          <img src="{{path2}}" alt="New york" style="height:500px;width:100%;">
        </div>
      </div>
    <div class="container">
      <div class="section-head">
        <h2 style="text-align: center;">
<span style="font-size:20px;color:#064b76;">
<strong>PWRTransport – India’s most reliable, dedicated and expert Online Transport & Logistics services partner</strong></span></h2>
    </div> 
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <p>PWRTransport is one of the foremost trucking companies, delivering the plethora
            of transport services to its esteemed consumers across India. We are the “best-in-class and cost-effective transporter” 
           as defined by our customers and serving this industry for many years.</p>
          <br>
          <p>We have set high standards in every facet of transportation,
             and strive to keep raising the bar. With our extensive industry knowledge and skilled team,
              you can completely focus on your core interests whereas leaving the tiring 
              and complex moving process on us. Time-critical? No worries – TruckGuru will help you!</p>
            <br>
            <p>Our company is equipped with advanced equipment, modern tools,
               and expertise that enable us to help our consumers with crucial
                transportation and supply chain solutions.  We ensure businesses 
                that they will get excellent-quality, prompt, and secure 
                transportation services irrespective of time-constraint, the heavy
                 load issue, and any other related problem. </p>
              <br>
              <p>Being the prime logistics services provider, we believe that people,
                 technology, infrastructure and expertise all work together to help
                  businesses to succeed and henceforth, we are offering the right 
                  blend of all these.</p>
                <br>
                <p>We are a customer-centric firm and our every action is aimed to offer ease
                   and comfort to them when it comes to booking a truck. Our online truck
                    booking app has tremendously simplified the process of 
                  booking a truck. Whether you are looking for the companies
                   of online truck booking Hyderabad or online truck booking Mumbai, 
                   PWRTransport would always be your right choice.</p>
                </div>
     </div>
   </div>
   <br><br>

   <div id="advantage" class="features" style="background-color: lightgray;">
    <div class="container-fluid">
      <div class="section-head text-center">
        <h3><span class="frist"> </span>Our Advantages<span class="second"> </span></h3>
      </div>
      <div class="features-grids">
        <div class="col-md-4 features-grid">
          <div class="features-grid-info" id="service-1">
            <div class="col-md-4 features-icon1">
              <img [src]="path5" width="80%" alt="Full & part load transportation Services - TruckGuru LLP " /> 
            </div>
            <div class="col-md-8 features-info">
              <h3>Full Load Services</h3>
              <p>We provide Full Truck load transportation services with varied type of 
                trucks available with the click of a button.</p>
            </div>
            <div class="clearfix"> </div>
          </div>
          <div class="features-grid-info" id="service-2">
            <div class="col-md-4 features-icon1">
              <img [src]="path6" width="80%" alt="Full & part load transportation Pricing - TruckGuru LLP" /> 
            </div>
            <div class="col-md-8 features-info">
              <h3>Transparent Pricing</h3>
              <p>With our fare calculator, we instantaneously give you best possible rates online.</p>
            </div>
            <div class="clearfix"> </div>
          </div>	
          <div class="features-grid-info" id="service-4">
            <div class="col-md-4 features-icon1">
              <img [src]="path7" width="80%" alt="Full & part load transportation Services Advance Booking - TruckGuru LLP" /> 
            </div>
            
            <div class="col-md-8 features-info">
              <h3>Quick & Easy Portal</h3>
              <p>Hiring a truck is now just a click away, through our hassle free online booking system.</p>
            </div>
            <div class="clearfix"> </div>
          </div>	
        </div>
        
        <div class="col-md-4 features-grid">
            <div id="top" class="callbacks_container">
              <ul class="rslides" id="slider4">
              <li><a href="https://itunes.apple.com/us/app/truckguru-online-truck-booking/id1425966954?mt=8&ign-mpt=uo%3D2"
                 target="_blank" rel="noopener">
                 <img [src]="path8" height="auto" alt="Transportation & Logistics Services - TruckGuru LLP"/></a></li>
              </ul>
            </div>
          
        </div>
        <div class="col-md-4 features-grid">
          <div class="features-grid-info" id="service-3">
            <div class="col-md-8 features-info">
              <h3>Advance Booking</h3>
              <p>Our vehicle availability is guaranteed on daily/weekly/monthly basis to ensure on-time reporting.</p>
            </div>
            <div class="col-md-4 features-icon1">
              <img [src]="path9" width="80%" alt="Transportation & Logistics Services Advance Booking - TruckGuru LLP" /> 
            </div>
            
            <div class="clearfix"> </div>
          </div>	
          <div class="features-grid-info" id="service-5">
            <div class="col-md-8 features-info">
              <h3>Live Tracking</h3>
              <p>Get real time updates of your goods with our simplified technology.</p>
            </div>
            <div class="col-md-4 features-icon1">
              <img [src]="path11" width="80%" alt="Transportation & Logistics Services pricing - TruckGuru LLP"/> 
            </div>
            <div class="clearfix"> </div>
          </div>
          <div class="features-grid-info" id="service-6">
            <div class="col-md-8 features-info">
              <h3>24/7 Service</h3>
              <p>PWRTransport is dedicated to provide exceptional customer support over the Phone & Live Chat.</p>
            </div>
            <div class="col-md-4 features-icon1"> 
              <img [src]="path10" width="80%" alt="Twenty-four by seven Transportation & Logistics Services - TruckGuru LLP" /> 
            </div>
            <div class="clearfix"> </div>
          </div>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
        <!-- Footer Start -->
     
<div class="footer">
	<div class="container">
		<div class="footer-grids">
			<div class="col-md-8 footer-grid about-info">
				<h3>ABOUT OUR COMPANY</h3>
				<p>PWRTransport, a leading transport and logistics service provider is introducing a truly innovative, modern and high-tech online platform to book the truck in a few simple steps.</p>
				<p>With the apt use of advanced technology and rich industry experience, we are delivering customized and economical online transportation and cargo solutions to match your expectations and exceed industry benchmarks. </p>
				<p>
				<h3>CONTACT INFORMATION</h3>
				<p>
				 <a href="tel:+9172020 45678" target="_top" style="color: white;"> Mobile : 72020 45678</a><br> WhatsApp:  <a href="https://wa.me/917202045678" target="_blank" style="color: white;">72020 45678</a><br>Email : <a href="mailto:info@truckguru.co.in" target="_top" style="color: white;">info@truckguru.co.in</a>
				</p>
			</div>
			
			<div class="col-md-2 footer-grid explore">
				<h3>QUICK LINKS </h3>
				<ul class="col-md-12">
					<li><a href="https://truckguru.co.in" >Home</a></li>
					<li><a href="about"target="_blank">About Us</a></li>
					<li><a href="term-condition"target="_blank">Terms & Conditions</a></li>
					<li><a href="privacy-policy"target="_blank">Privacy Policy</a></li>
					<li><a href="payment-term"target="_blank">Payment Terms</a></li>		
					<li><a href="partner-with-us"target="_blank">Partner With Us</a></li>		
					<li><a href="">&nbsp;</a></li>					
				</ul>
			</div>
			<div class="col-md-2 footer-grid explore right">
				<h3>OUR SERVICES</h3>
				<ul class="col-md-12">
					<li><a href="truck-booking-online" target="_blank" >Online Truck Booking</a></li>
					<li><a href="logistics-service"target="_blank">Logistics Services</a></li>
					<li><a href="transportation-services"target="_blank">Transportation Services</a></li>
					<li><a href="packers-movers"target="_blank">Packers & Movers</a></li>		
					<li><a href="express-cargo-service"target="_blank">Express Cargo Services</a></li>
					<li><a href="freight-forwarding-services">Freight Forwarding</a></li>
				</ul>		
			</div>
			
			<div class="clearfix"> </div>
			
			<div id="footer1" class="col-md-12 footer-grid top_cities">
				<h3>TOP CITIES</h3>
				<ul class="col-md-12">
				    <li><a href="gurugram"target="_blank">Gurugram</a></li>
					<li><a href="mumbai"target="_blank">Mumbai</a></li>	
					<li><a href="chennai"target="_blank">Chennai</a></li>
					<li><a href="noida"target="_blank">Noida</a></li>
					<li><a href="vadodara"target="_blank">Vadodara</a></li>
					<li><a href="ahmedabad"target="_blank">Ahmedabad</a></li>		
					<li><a href="pune"target="_blank">Pune</a></li>		
					<li><a href="delhi"target="_blank">Delhi</a></li>		
					<li><a href="hyderabad"target="_blank">Hyderabad</a></li>		
					<li><a href="bangalore"target="_blank">Bangalore</a></li>					
						
				
				</ul>							
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<div class="footer">   
		<div class="container">
       <div class="row">
			   <div class="col-md-12 copyright">
				       <p class="social">
				       <a href="https://play.google.com/store/apps/details?id=trckg.truckguru&hl=en" target="_blank" rel="noopener">
				        <img src="images/truckguru-android-app.png" height="40px" width="133px" alt="Online Truck Booking App TruckGuru LLP"></a>
					      &nbsp;
				        <a href="https://itunes.apple.com/us/app/truckguru-online-truck-booking/id1425966954?mt=8&ign-mpt=uo%3D2" target="_blank" rel="noopener">
				        <img src="images/truckguru-ios-app.png" height="40px" width="133px" alt="Online Truck Booking App TruckGuru LLP"></a>
					      <br>
					      <br>
					      <a href="https://www.facebook.com/TruckGuruindia/" target="_blank" rel="noopener">
					      <img src="images/facebook.png" width="40"  alt="TruckGuru Facebook"/>
					      </a>&nbsp;
					      <a href="https://twitter.com/TruckGuruindia" target="_blank" rel="noopener">
						    <img src="images/twitter.png" width="40" alt="TruckGuru Twitter"/>
					      </a>&nbsp;
					      <a href="https://www.linkedin.com/company/truckguru.co.in" target="_blank" rel="noopener">
					      <img src="images/linkedin.png" width="40" alt="TruckGuru LinkedIn"/>
						    </a>&nbsp;
					      <a href="https://www.youtube.com/channel/UC6YERsiIbNjnA9FRDNoJ1BA" target="_blank" rel="noopener">
					      <img src="images/youtube.png" width="40" alt="TruckGuru Youtube"/>
						    </a>
				        </p>
				<div class="col-md-12 footer-grid top_cities">
				        <ul><li>
				            <p>Copyright &copy;2020&nbsp;<a href="https://truckguru.co.in">TruckGuru LLP</a></p>
                    </li>
                </ul>
				</div>
			</div>
    </div>
  </div>
 </div>
			
